@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&family=Nunito:ital,wght@0,200;0,400;0,700;1,500&display=swap');

$primary-color: #181816;
$secondary-color: #513c31;
$tertiary-color: #655946;
$accent-color: #a6a5a5;
$delicious-color: #2c592e;

$primary-font: "Nunito", sans-serif;
$secondary-font: "Nunito Sans", sans-serif;
