@use "./variables" as *;
@use "./resets" as *;

.header {

    padding: 20px;

    .header__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        font-family: $primary-font;
        font-size: 30px;
        opacity: 98%;
    }

    .header__list {
        display: inline-flex;
        justify-content: space-between;
        gap: 15px;
    }
}

.intro {

    padding: 30px;

    .intro__header {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .intro__paragraph {
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        width: 50%;
    }

}




// RANDOM STYLING CLASSES

.half-box {
    border-left: 2px solid $secondary-color;
    border-bottom: 2px solid $secondary-color;
    box-shadow: 0 1px $accent-color;
    border-radius: 4px;
}

.primary-underline {
    text-decoration: underline;
    text-decoration-color: $secondary-color;
}