@use "./variables" as *;
@use "./resets" as *;

// NAV

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $secondary-font;
  padding: 5px 20px;

  .nav__logo {
    font-size: $secondary-font-size;
    opacity: 100%;
  }

  .nav__dropdown {
    border: none;
    &:hover {
      opacity: 70%;
    }
  }

  .nav__burger {
    height: 30px;
  }

  .nav__list {
    display: none;
    justify-content: space-between;
    gap: 50px;
  }

  .nav__link {
    .nav__link:hover {
      opacity: 50%;
    }
  }
}

// HEADER

.header {
  .header__header {
    font-size: $primary-font-size;
    text-align: left;
    margin-bottom: 20px;
  }

  .header__paragraph {
    font-size: 1.2rem;
    padding: 20px 0;
    margin-bottom: 40px;
  }
}

// SKILLS

.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px 5px;
  .skills__header {
    font-size: $tertiary-font-size;
    align-self: center;
    margin: 10px 0;
  }

  .skills__paragraph {
    font-family: $primary-font;
    font-size: $tertiary-font-size;
    text-align: center;
    padding: 5px 20px;
    margin: 20px 0;
  }

  .skills__icons {
    padding: 10px 5px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    h5 {
      font-family: $secondary-font;
      text-align: center;
      font-size: 1.2vw;
      &:hover {
        opacity: 70%;
        cursor: auto;
      }
    }
    div {
      padding: 5px;
      text-align: center;
    }
  }

  .skills__img {
    height: 25px;
    width: 25px;
    &:hover {
      opacity: 70%;
    }
  }
}

// PORTFOLIO

.portfolio {
  .portfolio__header {
    margin-bottom: 40px;
    font-size: $secondary-font-size;
    display: flex;

    img {
      width: 3vw;
      align-self: flex-end;
    }
  }

  .portfolio__main {
    font-family: $secondary-font;
    display: grid;
    grid-template-areas:
      "project1"
      "project2"
      "project3";
    gap: 20px;
  }

  .portfolio__project:nth-child(1) {
    grid-area: project1;
  }

  .portfolio__project:nth-child(2) {
    grid-area: project2;
  }

  .portfolio__project:nth-child(3) {
    grid-area: project3;
  }

  .portfolio__project:nth-child(4),
  .portfolio__project:nth-child(5),
  .portfolio__project:nth-child(6) {
    display: none;
  }
}

// PROJECT BOXES

.projects {
  .projects__img {
    background-color: $tertiary-color;
    opacity: 50%;
    height: 200px;
    width: 100%;
    border-radius: 1% 5%;
  }

  .projects__box {
    margin: 10px 0;

    .projects__box--top {
      display: flex;
      justify-content: space-between;
      gap: 5px;
    }
  }

  .project__button {
    border: none;

    .project__button--round {
      height: 25px;
      width: 25px;
      border-radius: 10% 20%;
      background-color: $tertiary-color;
      opacity: 90%;

      &:hover {
        opacity: 70%;
      }
    }

    &.project__button--rectangle {
      font-family: $primary-font;
      background-color: $tertiary-color;
      font-weight: bold;
      text-align: center;
      opacity: 90%;
      border-radius: 1% 5%;
      padding: 2px 10px;

      &:hover {
        opacity: 70%;
      }
    }
  }
}

// ABOUT

.about {
  display: grid;
  grid-template-areas:
    "header"
    "img"
    "paragraph"
    "experience"
    "interests";

  .about__header {
    padding: 20px 0;
    margin-top: 60px;
    font-size: $secondary-font-size;
    grid-area: header;
  }

  .about__paragraph {
    grid-area: paragraph;
    margin-bottom: 40px;
  }

  .about__img {
    grid-area: img;
    margin-bottom: 20px;
    position: relative;

    .about__img--size {
      object-fit: cover;
      width: 100%;
      border-radius: 1% 5%;
    }
  }

  .about__img--background {
    display: none;
    object-fit: cover;
    width: 100%;
    border-radius: 1% 5%;
    opacity: 30%;
    position: absolute;
    top: 50px;
    left: 50px;
  }

  .about__experience {
    padding: 10px 0;
    margin-top: 20px;
    grid-area: experience;
    font-family: $secondary-font;
    font-size: $secondary-font-size;
  }

  .about__interests {
    padding: 10px 0;
    margin-top: 20px;
    grid-area: interests;
    font-family: $secondary-font;
    font-size: $secondary-font-size;
  }
  // ********** Need to add space between buttons here
}

// Need to figure out JS for this bit

.collapsible {
  font-family: $primary-font;
  font-size: 3vw;
  border: none;
  border-bottom: 1px solid $secondary-color;
  width: 100%;
  text-align: left;
  padding: 20px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  // Need to fix the cross height.

  &::after {
    content: "\02795";
    color: $tertiary-color;
    font-size: 8px;
    float: right;
  }
}

// CONTACT

.contact {
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contact__header {
    font-size: $primary-font-size;
    margin: 30px 0;
    padding: 5vh 0;
  }

  .contact__button {
    padding: 10px 50px;
    border-radius: 1% 5%;
    font-family: $secondary-font;
    font-size: 1.3rem;
    border: 0.3px solid $tertiary-color;
    transition: background-color 1s;

    &:hover {
      background-color: $accent-color;
      color: $tertiary-color;
    }

    &:active {
      background-color: $secondary-color;
      color: $accent-color;
    }
  }
}
.contact__form {
  margin-top: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  input[type="text"],
  select,
  textarea {
    font-family: $primary-font;
    width: 100%;
    padding: 12px;
    border: 1px solid $tertiary-color;
    border-radius: 1% 5%;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  input[type="submit"] {
    font-family: $secondary-font;
    border: 1px solid $tertiary-color;
    color: white;
    padding: 12px 20px;
    border-radius: 1% 5%;
    transition: background-color 1s;
  }

  input[type="submit"]:hover {
    background-color: $accent-color;
    color: $tertiary-color;
  }
}
.contact__form.open-menu {
  max-height: 500px;
}

// FOOTER

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
  opacity: 70%;
  height: 7vh;

  .footer__link {
    background: $primary-color;
    border-radius: 10% 20%;
    padding: 5px 5px 2px 5px;
    margin: 2px;

    &:hover {
      opacity: 70%;
    }
  }

  .footer__img {
    background: none;
    width: auto;
    height: 20px;
  }
}

// RANDOM STYLING CLASSES

.dropdown {
  position: relative;
  .dropdown__burger {
    position: absolute;
    right: 17px;
    background-color: rgba($color: #655946, $alpha: 0.2);
    padding: 4px;
    border-radius: 1% 5%;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-8px);
    transition: opacity 0.15s ease-in-out, transform 0.2s ease-in-out;
  }
}
.dropdown > .nav__dropdown:focus + .dropdown__burger {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.half-box {
  border-left: 3px solid $tertiary-color;
  border-bottom: 2px solid $tertiary-color;
  box-shadow: 0 0 $accent-color;
  border-radius: 4px;
  color: $tertiary-color;
}

.primary-underline {
  text-decoration: underline;
  text-decoration-color: $tertiary-color;
}

.flex-hr {
  display: flex;
  border: 1px solid $tertiary-color;
  border-radius: 5px 10px;
  box-shadow: 0 1px $accent-color;
  width: 30%;
  margin-bottom: 20px;
}

.large-hr {
  border: 1px solid $tertiary-color;
  border-radius: 5px 10px;
  box-shadow: 0 1px $accent-color;
  width: 50px;
  margin: 20px 0 20px 0;
}

.small-hr {
  border: 1px solid $tertiary-color;
  border-radius: 5px 10px;
  box-shadow: 0 1px $accent-color;
  width: 25px;
  margin: 10px 0;
}

// MEDIA SCREENS

// IPAD

@media screen and (min-width: 700px) {
  nav {
    padding: 60px;
    margin: 30px 40px;
  }

  main {
    padding: 40px;
    margin: 0 40px;
    font-family: $primary-font;
  }

  .nav {
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    .nav__logo {
      font-family: $secondary-font;
      font-size: 30px;
      opacity: 98%;
    }

    .nav__dropdown {
      display: none;
    }

    .nav__list {
      display: inline-flex;
      font-size: 1.2vw;
    }
  }

  .header {
    .header__header {
      font-size: $secondary-font-size;
    }
    .header__paragraph {
      width: 45%;
    }
  }

  .skills {
    display: grid;
    grid-template-areas:
      "header skills"
      "paragraph skills";
    padding: 20px 0;
    .skills__header {
      grid-area: header;
      font-size: $tertiary-font-size;
      text-align: center;
    }

    .skills__paragraph {
      grid-area: paragraph;
      font-size: $paragraph-font-size;
    }

    .skills__icons {
      grid-area: skills;
      gap: 10px;
    }

    .skills__img {
      height: 40px;
      width: 40px;
    }
  }

  .portfolio {
    .portfolio__header {
      font-size: $tertiary-font-size;
    }

    .portfolio__main {
      grid-template-areas:
        "project1 project2 project3"
        "project4 project5 project6";
    }

    .portfolio__project:nth-child(4),
    .portfolio__project:nth-child(5),
    .portfolio__project:nth-child(6) {
      display: inline;
    }
  }

  .about {
    margin: 20px 40px;
    grid-template-areas:
      "header header img img"
      "paragraph paragraph img img"
      "experience experience interests interests";
    gap: 50px;

    .about__header {
      font-size: $tertiary-font-size;
    }

    .about__img {
      align-self: center;
    }

    .about__img--background {
      display: block;
    }

    .about__interests,
    .about__experience {
      font-size: $tertiary-font-size;
    }
  }

  .collapsible {
    font-size: 2vw;
  }

  .contact {
    .contact__header {
      font-size: $secondary-font-size;
    }
  }
}

// DESKTOPS

@media screen and (min-width: 1440px) {
  nav {
    padding: 60px;
    margin: 30px 40px;
  }
  main {
    padding: 40px;
    margin: 0 40px;
    font-family: $primary-font;
  }

  .skills {
    padding: 10px 40px;
    margin: 10px 40px;
  }

  .about {
    .about__header {
      margin: 40px 20px;
      padding: 40px 20px;
    }

    .about__paragraph {
      padding: 0 40px;
      font-size: 1.2vw;
    }

    .about__dropdowns {
      gap: 10px;
    }

    .about__img {
      margin-right: 60px;
    }
  }
}

// MAX WIDTH
// ******************* NEED TO SET MAX WIDTH FONT SIZES
@media screen and (max-width: 1800px) {
}
